<nav>
  <div class="site-title">
    <a href="/"><h1>BlogSite</h1></a>
    <p>keep blogging....</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>