<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <nav>
        <div class="site-title">
          <a href="/"><h1>BlogSite</h1></a>
          <p>keep blogging....</p>
        </div>
        
      </nav>
    
    <main>
        <h2>Login using Google..... </h2>
        <a class="google-btn" href="/auth/google"><button>Google</button></a>

    </main>

    <%- include("./partials/footer.ejs") %>
</body>
</html>